<footer xmlns:th="http://www.thymeleaf.org" class="shadow p-3" th:fragment="footer">
    <div class="container">
        <div class="d-flex gap-3 align-items-center justify-content-center justify-content-lg-end py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company, Inc</p>

            <a href="/" class="col-md-3 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
               <svg class="bi me-2" width="20" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-md-5 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="/auth/termos-de-uso" class="nav-link px-2 text-body-secondary">Termos de Uso</a></li>
                <li class="nav-item"><a href="/auth/politicas-de-privacidade" class="nav-link px-2 text-body-secondary">Políticas dePrivacidade</a></li>
            </ul>
        </div>
    </div>
</footer>
