<footer id="footer" xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 GoService - Squad 3</p>

    <img id="logo" src="/assets/img/logos/2.png" alt="logo2" class="rounded-circle">


    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/PoliticaTermos" class="nav-link px-2 text-body-secondary">Termos e Condições</a></li>
        <li class="nav-item"><a href="/PoliticaTermos" class="nav-link px-2 text-body-secondary">Políticas de Privacidade</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-secondary">FAQs</a></li>
    </ul>

</footer>
