<footer xmlns:th="http://www.thymeleaf.org" class="shadow footerShadow" th:fragment="footer">
    <nav class="navbar">
        <div class="footerContainer">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-md-4 mb-0 text-body-secondary">© 2023 GoService</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img th:src="@{/assets/img/logos/2.png}" alt="Logo" width="150" class="d-inline-block align-text-top">
                </a>

                <div class="d-flex col-md-4 justify-content-end footerLinks">
                    <div><a href="#" class="nav-link px-2 text-body-secondary">Termos e Condições</a></div>
                    <div><a href="#" class="nav-link px-2 text-body-secondary">Políticas de Privacidade</a></div>
                    <div><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></div>
                </div>
            </div>
        </div>
    </nav>
</footer>

