body, #content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.content{
    justify-content: space-between;
    height: 100%;
}

.container{
    flex-grow: 1;
}

.rodape{
    position: relative;
    bottom: 0;
    width: 100%;
}
