/*carrocel*/
#carouselExampleIndicators {
  width: 80%;
  margin: 0 auto;
}


/*FAQs*/
.faqs{
    margin: 20px;
}

.perguntas-respostas{
    text-align: center;
    margin-top: 20px;

}

.btn-faq{
    width:100%;
}

.card{
    border:none;

}


.p-faq{
    text-align: justify;

}







