#logo-footer{
    width: 150px;
    padding: 0px;
}
.my-4{
    margin-top: 0px !important;
    margin-bottom:0px !important;
}

.py-3{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
