body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#logo{
    width: 150px;
    padding: 0px;
}
.my-4{
    margin-top: 0px !important;
    margin-bottom:0px !important;
}

.py-3{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container-home{
    display: flex;
    padding: 25px;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
}

.card{
    margin-left: 20px;
}

#content{
    min-height: 100vh;
 }

.content-wrap {
  padding-bottom: 300px;
}

#footer {
  width: 100%;
  height: 200px;
}

#logo-login-cadastro{
    width: 250px;
    padding: 0px;
}

.main-content-politica {
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.titulo-politica{
    font-size: 30px;
    color: white;
    background-color: #22A7F0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-top: 40px;
}
