*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index:2;
}

#logo{
    width: 50px;
    height: 50px;
}

.mainBox{
    padding-bottom: 75px;
}
#carouselExampleFade{
    margin-top: 20px;
    width: 100%;
    height: 80%;
    z-index: 1;
}
