*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
}