<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <link th:src="@{/resources/static/js/script.js}">
    <title>Agenda | GoService</title>
</head>
<body>

<div id="content">

    <div th:replace="fragments/header :: header"></div>
    <div class="container my-4">
        <h2>Agenda de Serviços</h2>

        <div class="card w-100 mt-5">
            <div class="card-body">

                <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
                <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>

                <table class="table w-100">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Especialidade</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Status</th>
                        <th>Cancelar</th>
                        <th>Confirmar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="agendamento : ${agendamentos}">
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalCliente" th:text="${agendamento.cliente.nome}"></a>
                        </td>
                        <td th:text="${agendamento.servico.nome}"></td>
                        <td th:text="${agendamento.data}"></td>
                        <td th:text="${agendamento.hora}"></td>
                        <td th:text="${agendamento.statusAgendamento.descricao}"></td>
                        <td>
                            <button class="btn btn-danger" style="width: 8rem" th:disabled="${not agendamento.isCancelable()}" data-bs-toggle="modal" th:data-bs-target="'#cancelModal' + ${agendamento.id}"data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="Cancele o agendamento">
                                Cancelar <i class="bi bi-x-square-fill ms-2"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" style="width: 8rem" th:disabled="${not agendamento.isConfirmable()}" data-bs-toggle="modal" th:data-bs-target="'#confirmModal' + ${agendamento.id}"data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="Confirme o agendamento">
                                Confirmar <i class="bi bi-check-square-fill ms-2"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modal-cliente" th:each="agendamento : ${agendamentos}">
        <div class="modal fade" id="modalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Dados do Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Nome: </h4>
                        <p th:text="${agendamento.cliente.nome}"></p>

                        <h4>E-mail: </h4>
                        <p th:text="${agendamento.cliente.email}"></p>

                        <h4>telefone: </h4>
                        <p th:text="${agendamento.cliente.telefone}"></p>

                        <h4>Data de Nascimento: </h4>
                        <p th:text="${agendamento.cliente.dataNascimento}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Feche o agendamento">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div th:each="agendamento : ${agendamentos}" th:if="${agendamento.isCancelable()}">
        <div class="modal fade" th:id="'cancelModal' + ${agendamento?.id}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">Confirmar Ação</h5>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja cancelar o agendamento do serviço: <strong th:text="${agendamento.servico.nome}"></strong>?
                    </div>
                    <form class="modal-footer" method="post" th:action="@{/prestador/agenda/cancelar}">
                        <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Volte a ação anterior">Voltar</button>
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Cancele o agendamento de serviço">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:each="agendamento : ${agendamentos}" th:if="${agendamento.isConfirmable()}">
        <div class="modal fade" th:id="'confirmModal' + ${agendamento?.id}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmar Ação</h5>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja confirmar o agendamento do serviço: <strong th:text="${agendamento.servico.nome}"></strong>?
                    </div>
                    <form class="modal-footer" method="post" th:action="@{/prestador/agenda/confirmar}">
                        <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Volte a ação anterior">Voltar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Confirme o Agendamento do seu serviço">Confirmar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>