<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
</head>
<body>

<main id="content">



    <div th:replace="fragments/header :: header"></div>

    <!-- implementação dos cards na página!-->
    <div class="cardsHome">
        <div class="card" style="width:20rem">
            <img src="/assets/img/prormos/1.png" class="card-img-top" alt="anuncio1">
            <div class="card-body">
                <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Venha ser um Go Agent conosco!</h5>
                <p class="card-text" style="font-size:1.25rem; height:7.5rem">Se cadastre agora mesmo e ofereça seu serviço para diversos clientes</p>
                <a href="#" class="btn btn-primary btn-ht">Quero ser um Go Agent!</a>
            </div>
        </div>

    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/2.png" class="card-img-top" alt="anuncio2">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Seja autonômo!</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Seja um Go Agent e se torne um profissinal autonômo na nossa plataforma!</p>
            <a href="#" class="btn btn-primary btn-ht">Quero ser autonômo!</a>
        </div>
    </div>
    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/3.png" class="card-img-top" alt="anuncio3">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Dificuldade na escola?</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Conheça agora mesmo os nossos melhores professores e tenha aulas a partir de R$49,90</p>
            <a href="#" class="btn btn-primary btn-ht">Quero conhecer novos professores!</a>
        </div>
    </div>
    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/4.png" class="card-img-top" alt="anuncio4">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Sem tempo?</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Chame nossos Go Agents agora mesmo e se livre agora mesmo daquela tarefa chata!</p>
            <a href="#" class="btn btn-primary btn-ht">Quero me livrar das tarefas!</a>
        </div>
    </div>
    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/5.png" class="card-img-top" alt="anuncio5">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Faça compras precisas</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Precisando de um consultor de compra? Contrate agora mesmo um Go Agent!</p>
            <a href="#" class="btn btn-primary btn-ht">Quero um consultor de compras!</a>
        </div>
    </div>
    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/6.png" class="card-img-top" alt="anuncio6">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Faça bombar suas redes sociais</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Precisando de ajuda com suas redes sociais? Contrate agora mesmo um consultor e bombe nas suas publicações!</p>
            <a href="#" class="btn btn-primary btn-ht">Quero bombar nas redes sociais!</a>
        </div>
    </div>
    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/7.png" class="card-img-top" alt="anuncio7">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Está com problemas de rotina?</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Contrate um de nossos Go Agents e faça um planejamento de uma rotina produtiva!</p>
            <a href="#" class="btn btn-primary btn-ht">Quero minha rotina!</a>
        </div>
    </div>
    <div class="card" style="width:20rem">
        <img src="/assets/img/prormos/8.png" class="card-img-top" alt="anuncio8">
        <div class="card-body">
            <h5 class="card-title" style="font-size:1.875rem; height:4.688rem;">Revise suas propostas!</h5>
            <p class="card-text" style="font-size:1.25rem; height:7.5rem">Fez suas propostas mas precisa de ajuda para revisar? Contrate um de nossos Go Agents de revisão!</p>
            <a href="#" class="btn btn-primary btn-ht">Quero ser um Go Agent!</a>
        </div>
    </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</main>

</body>
</html>