<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
    <style>
        .card{
            margin:10px 20px;
            display: inline-block;

        }
        .cards {display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

        }
    </style>
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>
    <div style="display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;" class="cards">
        <div class="card" style="width: 25rem;margin:10px 20px;display: inline-block;height: 450px;">
            <img th:src="@{/assets/img/banners/1.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Manutenção</h5>
                <p class="card-text"> Um prestador de serviços de manutenção é um profissional especializado em cuidar da conservação, reparo e ajustes em equipamentos, sistemas ou instalações. </p>
                <a href="#" class="btn btn-primary">Agende aqui</a>
            </div>
        </div>
        <div   class="card" style="width: 25rem;margin:10px 20px;display: inline-block;height: 450px;">
            <img th:src="@{/assets/img/banners/2.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mecânico</h5>
                <p class="card-text">Um prestador de serviços mecânico é um profissional especializado em realizar reparos, manutenção e ajustes em veículos automotores, máquinas ou equipamentos que envolvem componentes mecânicos. </p>
                <a href="#" class="btn btn-primary">Agende aqui</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;margin:10px 20px;display: inline-block;height: 450px;">
            <img th:src="@{/assets/img/banners/3.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cuidador de idosos</h5>
                <p class="card-text">Um prestador de serviços cuidador de idosos é um profissional dedicado ao cuidado e assistência de pessoas idosas que necessitam de ajuda em suas atividades diárias devido a limitações físicas, cognitivas ou de saúde. </p>
                <a href="#" class="btn btn-primary">Agende aqui</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;margin:10px 20px;display: inline-block;height: 450px;">
            <img th:src="@{/assets/img/banners/4.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Go Agent</h5>
                <p class="card-text">Um prestador de serviços é um profissional ou empresa que oferece uma ampla gama de serviços para atender às necessidades de seus clientes ou clientes. </p>
                <a href="#" class="btn btn-primary">Agende aqui</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;margin:10px 20px;display: inline-block;height: 450px;">
            <img th:src="@{/assets/img/banners/5.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Seja um Go Agent</h5>
                <p class="card-text">"Faça parte da nossa equipe de prestadores de serviços e transforme suas habilidades em oportunidades de sucesso! Junte-se a nós e alcance novos horizontes profissionais."</p>
                <a href="#" class="btn btn-primary">Cadastre-se aqui</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;margin:10px 20px;display: inline-block;height: 450px;">
            <img th:src="@{/assets/img/banners/6.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Seja Cliente Go Service</h5>
                <p class="card-text">"Cadastre-se agora e aproveite um desconto exclusivo de 50% no seu primeiro serviço! Economia garantida, qualidade assegurada."</p>
                <a href="#" class="btn btn-primary">Cadastre-se aqui</a>
            </div>
        </div>
    </div>

</main>

</body>
</html>