<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>Login | GoService</title>
</head>
<body>

<main id="content" class="d-flex justify-content-center align-items-center" style="min-height: 100vh">
    <div style="width: 22rem">
        <form method="post" th:action="@{/auth/login}">
            <h1 class="h3 mb-3 fw-normal text-center">Login | GoService</h1>

            <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
            <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>

            <div class="mb-3">
                <label class="form-label" for="username">E-mail<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Senha<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
        </form>
        <div class="mt-3 d-flex gap-3">
            <a href="/auth/cadastro" class="btn btn-light btn-sm text-primary flex-grow-1">
                Cadastre-se <i class="bi bi-arrow-right-circle ms-2"></i>
            </a>
            <a href="/" class="btn btn-light btn-sm text-primary flex-grow-1">
                Página Principal <i class="bi bi-house-fill ms-2"></i>
            </a>
        </div>
    </div>
</main>

</body>
</html>