<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
</head>
<body>

<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="container mt-4">
        <h2>Politicas de privacidade da GoService</h2>
        <div class="card p-12 w-80 mt-5 d-flex justify-content-center" style="padding: 10px">

            <p>Bem-vindo à GoService! Esta Política de Privacidade descreve como coletamos, usamos, protegemos e compartilhamos suas informações quando você utiliza nossos serviços. Por favor, leia atentamente esta política para compreender nossas práticas em relação às suas informações pessoais.</p>

            <h3>1. Informações que Coletamos:</h3>
            <p>Ao usar nossos serviços, podemos coletar as seguintes informações:</p>

            <h4>1.1. Informações de Conta</h4>
            <p>Quando você cria uma conta em nossa plataforma, podemos coletar seu nome, endereço de e-mail e outras informações de contato.</p>

            <h4>1.2. Informações de Uso</h4>
            <p>Coletamos informações sobre como você interage com nossos serviços, incluindo seu histórico de navegação, tempo gasto em nossas páginas e interações com nosso conteúdo.</p>

            <h4>1.3. Informações de Dispositivos</h4>
            <p>Podemos coletar informações sobre seu dispositivo, como tipo de dispositivo, sistema operacional, endereço IP e identificadores exclusivos.</p>

            <h4>1.4. Informações de Pagamento</h4>
            <p>Se você realizar transações em nossos serviços, podemos coletar informações de pagamento, como números de cartão de crédito ou outros detalhes de pagamento.</p>

            <h4>1.5. Informações de Localização</h4>
            <p>Se você optar por compartilhar sua localização conosco, podemos coletar informações de localização para melhorar nossos serviços.</p>

            <h3>2. Como Usamos Suas Informações:</h3>
            <p>Utilizamos suas informações para os seguintes propósitos:</p>

            <h4>2.1. Fornecer e Manter Nossos Serviços</h4>
            <p>Utilizamos suas informações para operar, manter e melhorar nossos serviços, incluindo atender a pedidos, fornecer suporte ao cliente e personalizar sua experiência.</p>

            <h4>2.2. Segurança</h4>
            <p>Utilizamos suas informações para proteger nossos serviços, detectar atividades fraudulentas e garantir a segurança de nossos usuários.</p>

            <h4>2.3. Marketing</h4>
            <p>Com seu consentimento, podemos usar suas informações para enviar informações sobre nossos produtos, serviços e promoções.</p>

            <h3>3. Compartilhamento de Informações:</h3>
            <p>Não compartilhamos suas informações pessoais com terceiros, exceto nas seguintes circunstâncias:</p>

            <h4>3.1. Prestadores de Serviços</h4>
            <p>Podemos compartilhar suas informações com prestadores de serviços que nos ajudam a operar e manter nossos serviços.</p>

            <h4>3.2. Requisitos Legais</h4>
            <p>Podemos divulgar suas informações quando exigido por lei, regulamentações ou solicitações governamentais.</p>

            <h4>3.3. Consentimento</h4>
            <p>Com seu consentimento, podemos compartilhar suas informações com terceiros para fins de marketing ou outros fins específicos.</p>

            <h3>4. Seus Direitos e Escolhas</h3>
            <p>Você tem direitos em relação às suas informações pessoais, incluindo o direito de acessar, corrigir, excluir ou limitar o uso de suas informações. Você também pode optar por não receber comunicações de marketing.</p>

            <h3>5. Segurança de Dados</h3>
            <p>Empregamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou divulgação.</p>

            <h3>6. Alterações nesta Política</h3>
            <p>Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente. Quaisquer alterações entrarão em vigor imediatamente após a publicação em nossos serviços.</p>

            <p>Agradecemos por escolher a GoService. Estamos empenhados em proteger sua privacidade e fornecer uma experiência segura e confiável em nossos serviços.</p>

        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>