<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">

<head>
    <title>Politica Privacidade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <main id="content">
        <div th:replace="fragments/header :: header"></div>
        <div class="d-flex flex-row flex-wrap justify-content-center gap-5  mb-5 mt-5"></div>
        <div class="container-md">

    <p>Politica de Privacidade</p>
    <ul>
    <li>1. Informacoes Coletadas</li>

    <li>1.1. GoService pode coletar informacoes pessoais, como nome, endereco de e-mail e informacoes de contato, quando voce se cadastra ou interage com o site/servico.</li>

    <li>1.2. GoService tambem pode coletar informacoes nao pessoais, como dados de uso e informacoes demograficas.</li>

    <li>2. Uso das Informacoes</li>

    <li>2.1. GoService pode usar as informacoes pessoais para fornecer servicos, responder a solicitacoes e enviar comunicacoes relacionadas ao site/servico.</li>

    <li>2.2. As informacoes nao pessoais podem ser usadas para melhorar o site/servico e sua experiencia de uso.</li>

    <li>3. Protecao das Informacoes</li>

    <li>3.1. GoService adota medidas de seguranca para proteger as informacoes pessoais dos usuarios.</li>

    <li>4. Compartilhamento de Informacoes</li>

    <li>4.1. GoService nao vendera, alugara ou compartilhara informacoes pessoais com terceiros, exceto conforme exigido por lei.</li>

    <li>5. Cookies</li>

    <li>5.1. Este site/servico pode utilizar cookies para melhorar a experiencia do usuario. Consulte nossa politica de cookies para obter mais informacoes.</li>

    <li>6. Alteracoes na Politica de Privacidade</li>

    <li>6.1. GoService reserva-se o direito de alterar esta Politica de Privacidade a qualquer momento. As alteracoes entrarao em vigor apos a publicacao das versoes revisadas no site.</li>

    <li>7. Contato

        Se voce tiver alguma duvida ou preocupacao relacionada a nossa Politica de Privacidade, entre em contato conosco em adm1@email.com.</li>
        </ul>

    </div>
        </div>
 </main>

</body>
</html>
