<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidade</title>
</head>
<body>
<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="container-xxl" style="text-align: justify">
        <br>
        <h4>Política de Privacidade Go Service</h4>
        <br>
        <h6>Última atualização: 01 de Setembro de 2023.</h6>
        <br>

        <p>Esta Política de Privacidade descreve como Go Service, coletamos, usamos e compartilhamos informações
            pessoais de clientes e prestadores de serviços, ("você") que utiliza nosso site e serviços. Valorizamos a
            sua privacidade e estamos comprometidos em proteger suas informações pessoais. Ao utilizar nosso site e
            serviços, você concorda com as práticas descritas nesta política.

            Informações que Coletamos:<br>

            a. Informações de Registro: Quando você se cadastra em nosso site como cliente ou prestador de serviços,
            coletamos informações como nome, endereço de e-mail, número de telefone e outras informações de contato.<br>

            b. Informações de Perfil: Para oferecer serviços personalizados, coletamos informações de perfil, como
            interesses, habilidades, preferências e histórico de serviço.<br>

            c. Informações de Pagamento: Ao efetuar pagamentos através de nosso site, coletamos informações financeiras,
            como números de cartão de crédito ou contas bancárias, necessárias para processar transações.<br>

            d. Informações de Uso: Coletamos informações sobre a forma como você utiliza nosso site, incluindo páginas
            visitadas, tempo gasto no site e interações com outros usuários.<br>

            e. Informações de Localização: Se você optar por compartilhar sua localização, podemos coletar informações
            de localização para melhorar a experiência do serviço.<br>

            Como Usamos Suas Informações:<br>

            a. Fornecimento de Serviços: Utilizamos suas informações para conectar clientes a prestadores de serviços,
            facilitar a prestação de serviços contratados e processar pagamentos.<br>

            b. Comunicação: Utilizamos seu endereço de e-mail e número de telefone para enviar notificações relevantes
            sobre reservas, atualizações de serviços e comunicações de suporte.<br>

            c. Melhoria dos Serviços: Analisamos informações de uso para aprimorar nosso site, serviços e oferecer uma
            experiência personalizada.<br>

            d. Segurança e Prevenção de Fraudes: Utilizamos informações para proteger nosso site e nossos usuários
            contra atividades fraudulentas e não autorizadas.<br>

            Compartilhamento de Informações:<br>

            a. Prestadores de Serviços: Compartilhamos informações de perfil de prestadores de serviços com clientes
            interessados na contratação de serviços.<br>

            b. Clientes e Prestadores de Serviços: Compartilhamos informações de perfil de clientes com prestadores de
            serviços interessados em atender às suas necessidades.<br>

            c. Parceiros de Pagamento: Compartilhamos informações financeiras com parceiros de pagamento para processar
            transações.<br>

            d. Cumprimento Legal: Podemos divulgar informações pessoais quando exigido por lei ou para proteger nossos
            direitos legais.<br>

            Cookies e Tecnologias Similares:<br>

            Utilizamos cookies e tecnologias similares para melhorar a experiência do usuário e personalizar conteúdo.
            Você pode configurar seu navegador para recusar cookies, mas isso pode afetar a funcionalidade do site.

            Segurança das Informações:<br>

            Implementamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não
            autorizado e uso indevido.<br>

            Seus Direitos:<br>

            Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Entre em contato conosco para
            exercer esses direitos ou se tiver alguma dúvida sobre como suas informações são usadas.

            Alterações na Política de Privacidade:<br>

            Reservamos o direito de atualizar esta política periodicamente. As alterações serão publicadas em nosso site
            e a data de vigência será atualizada.

            Contato:<br>

            Se tiver dúvidas sobre esta Política de Privacidade ou preocupações sobre suas informações pessoais, entre
            em contato conosco através do seguinte endereço de e-mail: goservice@gmail.com.<br>

            Ao continuar a usar nosso site e serviços, você concorda com os termos desta Política de Privacidade. É
            importante revisar periodicamente esta política para estar ciente de quaisquer atualizações.
        </p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>


</body>
</html>