<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidade</title>
</head>
<body>
<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="container-xxl" style="text-align: justify; font-size: 19px">
        <br>
        <h4>TERMOS E CONDIÇÕES GERAIS DE USO – GO SERVICE</h4>
        <br>
        <p>Estes Termos e Condições Gerais de Uso ("Termos") regem o uso do serviço Go Service e seu site associado
            (coletivamente referidos como "Go Service"). Ao acessar ou usar o Go Service, você concorda em cumprir estes
            Termos. Se você não concorda com qualquer parte destes Termos, não deve usar o Go Service.<br>

            <strong>1.</strong> Serviço Go Service:<br>

            O Go Service é uma plataforma que conecta clientes a prestadores de serviços em várias áreas. O Go Service
            não é responsável pela qualidade dos serviços prestados pelos profissionais cadastrados, mas se esforça para
            promover um ambiente seguro e confiável para todas as partes.<br>

            <strong>2.</strong> Cadastro:

            Para utilizar o Go Service, você deve criar uma conta e fornecer informações precisas e atualizadas. Você é
            responsável por manter a confidencialidade de suas credenciais de acesso.<br>

            <strong>3.</strong> Conduta do Usuário:<br>

            Ao utilizar o Go Service, você concorda em não violar qualquer lei ou regulamento aplicável e a respeitar os
            direitos de terceiros. Você não deve utilizar o serviço de forma fraudulenta ou prejudicial.<br>

            <strong>4.</strong> Pagamentos:<br>

            Os pagamentos por serviços prestados são processados pelo Go Service. Você concorda em pagar pelas
            transações realizadas no Go Service de acordo com as políticas de pagamento aplicáveis.<br>

            <strong>5.</strong> Cancelamento:<br>

            Clientes e prestadores de serviços têm o direito de cancelar reservas sujeitas às políticas de cancelamento
            do Go Service. O não cumprimento dessas políticas pode resultar em penalidades.<br>

            <strong>6.</strong> Privacidade:<br>

            O Go Service valoriza a privacidade dos usuários e coleta, utiliza e protege as informações pessoais de
            acordo com sua Política de Privacidade.<br>

            <strong>7.</strong> Alterações nos Termos:<br>

            O Go Service se reserva o direito de atualizar ou modificar estes Termos a qualquer momento, com aviso
            prévio. O uso contínuo do serviço após tais alterações constitui aceitação dos Termos revisados.<br>

            <strong>8.</strong> Encerramento de Conta:<br>

            O Go Service pode encerrar ou suspender sua conta a seu critério, com ou sem motivo. Você pode encerrar sua
            conta a qualquer momento, seguindo os procedimentos fornecidos pelo Go Service.<br>

            <strong>9.</strong> Lei Aplicável:<br>

            Estes Termos são regidos pelas leis do Brasil, e qualquer disputa relacionada a eles será resolvida nos
            tribunais competentes.<br>
            <strong>10.</strong> Contato: <br>

            Se você tiver dúvidas sobre estes Termos, entre em contato conosco através do seguinte endereço de e-mail:
            <u>goservice@gmail.com.</u><br>

            Estes Termos e Condições Gerais de Uso foram atualizados pela última vez em 03 de setembro de 2023.

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>