<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
</head>
<body>

<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="container mt-4">
        <h2>Termos e Condições de Uso da GoService</h2>
        <div class="card p-12 w-80 mt-5 d-flex justify-content-center" style="padding: 10px">

            <p>Bem-vindo à GoService! Estes Termos e Condições de Uso ("Termos") e nossa Política de Privacidade descrevem os termos e condições sob os quais você pode acessar e usar nossos serviços e como tratamos as informações pessoais que coletamos. Por favor, leia atentamente e certifique-se de compreender completamente estas políticas antes de usar nossos serviços. Ao continuar a usar nossos serviços, você concorda com estes Termos e com nossa Política de Privacidade.</p>

            <h4>1. Aceitação dos Termos</h4>
            <p>Ao acessar ou usar nossos serviços, você concorda em cumprir estes Termos. Se você não concordar com algum aspecto destes Termos, não deve utilizar nossos serviços.</p>

            <h4>2. Uso Responsável</h4>
            <p>Você concorda em usar nossos serviços de forma responsável e em conformidade com todas as leis e regulamentações aplicáveis. Não é permitido o uso de nossos serviços para fins ilegais, fraudulentos, difamatórios, ou prejudiciais a terceiros.</p>

            <h4>3. Conta de Usuário</h4>
            <p>Ao criar uma conta em nossa plataforma, você é responsável por manter a confidencialidade de suas informações de login. Você também é responsável por todas as atividades que ocorrem em sua conta.</p>

            <h4>4. Privacidade</h4>
            <p>Respeitamos sua privacidade e a segurança de suas informações pessoais. Nossa Política de Privacidade descreve como coletamos, usamos, protegemos e compartilhamos suas informações. Ao utilizar nossos serviços, você concorda com a coleta e uso de suas informações de acordo com nossa Política de Privacidade.</p>

            <h4>5. Propriedade Intelectual</h4>
            <p>Todo o conteúdo em nossos serviços, incluindo textos, gráficos, logotipos, e software, é de nossa propriedade ou de nossos licenciadores e está protegido por leis de propriedade intelectual. Você não pode reproduzir, distribuir, ou modificar esse conteúdo sem nossa autorização prévia por escrito.</p>

            <h4>6. Conteúdo do Usuário</h4>
            <p>Você é o único responsável por qualquer conteúdo que você envie ou compartilhe em nossos serviços. Você concorda em não enviar conteúdo que viole direitos de terceiros ou que seja ilegal, ofensivo, difamatório, ou obsceno.</p>

            <h4>7. Rescisão</h4>
            <p>Reservamos o direito de rescindir ou suspender sua conta e acesso aos nossos serviços a qualquer momento, por qualquer motivo, sem aviso prévio.</p>

            <h4>8. Isenção de Responsabilidade</h4>
            <p>Fornecemos nossos serviços "como estão", sem garantias de qualquer tipo. Não somos responsáveis por danos diretos, indiretos, incidentais, ou consequenciais decorrentes do uso de nossos serviços.</p>

            <h4>9. Alterações nos Termos</h4>
            <p>Podemos atualizar ou modificar esses Termos a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação em nossos serviços.</p>

            <h4>10. Lei Aplicável</h4>
            <p>Estes Termos são regidos pelas leis do Brasil. Qualquer disputa relacionada a esses Termos será resolvida pelos tribunais competentes do Brasil.</p>

            <p>Ao continuar a utilizar nossos serviços, você concorda com estes Termos e Condições de Uso. Se tiver alguma dúvida ou preocupação, entre em contato conosco. Obrigado por escolher a GoService!</p>

           </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>