<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">

<head>
<title>Termo e condicoes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
<main id="content" class="--bs-primary-border-subtle" >
        <div th:replace="fragments/header :: header"></div>
        <div class="d-flex flex-row flex-wrap justify-content-center gap-5  mb-5 mt-5">
        <div class="container-md">

            <p>Termos e Condicoes.</p>

            <ul>
            <li>1.Bem-vindo aos Termos e Condicoes de uso do GoService. Estes termos regem o uso deste site/servico, e ao acessa-lo, voce concorda em respeitar e cumprir esses termos. Se voce nao concorda com estes termos, por favor, nao utilize o site/servico.</li>

                <li>2. Uso do Site/Servico</li>

                    <li> 2.1. Voce deve ter pelo menos 16 anos de idade para usar este site/servico.</li>

        <li>2.2. Voce concorda em usar este site/servico de acordo com todas as leis e regulamentos aplicaveis.</li>

        <li>3. Propriedade Intelectual</li>

        <li>3.1. Todo o conteudo disponivel neste site/servico, incluindo textos, graficos, logotipos, imagens, videos e software, e de propriedade exclusiva de GoService ou de seus licenciadores e esta protegido por direitos autorais e outras leis de propriedade intelectual.</li>

        <li>3.2. Voce nao tem permissao para copiar, distribuir, modificar ou usar qualquer conteudo deste site/servico sem a permissao expressa por escrito de GoService.</li>

        <li>4. Politica de Privacidade

            Por favor, consulte nossa Politica de Privacidade para obter informacoes detalhadas sobre como coletamos, usamos e protegemos suas informacoes pessoais.</li>

        <li>5. Isencao de Responsabilidade</li>

        <li>5.1. Este site/servico e fornecido "como esta", e GoService nao faz garantias, expressas ou implicitas, sobre a precisao, confiabilidade ou disponibilidade do conteudo.</li>

        <li>5.2. GoService nao se responsabiliza por qualquer dano ou perda resultante do uso deste site/servico.</li>

        <li>6. Alteracoes nos Termos e Condicoes</li>

        <li>6.1. GoService reserva-se o direito de alterar estes Termos e Condicoes a qualquer momento. As alteracoes entrarao em vigor apos a publicacao das versoes revisadas no site.</li>
        <li>7. Contato

            Se voce tiver alguma duvida ou preocupacao relacionada a estes Termos e Condicoes, entre em contato conosco em adm1@email.com.

            Politica de Privacidade

            Esta Politica de Privacidade descreve como GoService coleta, usa e protege as informacoes pessoais dos usuarios deste site/servico. Ao utilizar o site/servico, voce concorda com os termos desta politica.</li>
                    </span>
                </ul>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
